.btn {
  background: linear-gradient(303.13deg, #5cc043 1.71%, #71e899 96.69%);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
  padding: 14px 32px;
  border-radius: 8px;
  display: flex;
  width: fit-content;
}
